// Fonts
@font-face {
  font-family: Figtree-SemiBold;
  src: url(fonts/static/Figtree-SemiBold.ttf);
}
@font-face {
  font-family: Figtree-ExtraBold;
  src: url(fonts/static/Figtree-ExtraBold.ttf);
}
@font-face {
  font-family: Figtree-VF;
  src: url(fonts/Figtree-VariableFont_wght.ttf);
}
@font-face {
  font-family: Figtree-SemiBold-VF;
  src: url(fonts/Figtree-SemiBold-VariableFont_wght.ttf);
}
